<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Novo alagamento</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="locationForm" ng-submit="vm.addMarker()">
      <div class="list">
        <label class="item text-center">
          <h2><b>Qual estado está a rua?<b></h2>
        </label>
        <label class="item ">
          <div>
            <ion-radio ng-model="vm.intensidade" ng-value="'Pouco Alagada'">Pouco Alagada</ion-radio>
            <ion-radio ng-model="vm.intensidade" ng-value="'Alagada'">Alagada</ion-radio>
            <ion-radio ng-model="vm.intensidade" ng-value="'Muito Alagada'">Muito Alagada</ion-radio>
          </div>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Adicionar Novo Alagamento</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
