<ion-view view-title="Reportar Bug">
  <ion-content>
    <div class="text-center">
      <h1 >Sentimos muito!</h1>
      <img src="img\sad16.png"></img>
      <br><br><br>
      <h3 align="Justify">Que algo de errado, tenha acontecido durante a utilização do RainCife. Mas ainda estamos em fase Beta e alguns bugs são esperados.</h3>
      <br><br><br>
      <h4>Por favor abra uma issue, no GitHub, explicando como esse bug ocorreu</h4>
      <a class="button button-large button-dark ion-social-github" href="https://github.com/MCRSoftwares/RainCife/issues">    GitHub</a>
    </div>
  </ion-content>
</ion-view>
