<ion-view class="welcome-view" cache-view="false" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <img src="img\rain48.png"></img>
        <h1 class="app-logo ">RainCife</h1>
        <div class="col col-bottom">
          <a class=" button button-block button-inicial" href="#/app/login">
            Fazer Login
          </a>
        </div>
        <p class="ouLogin">OU</p>
        <div class="col col-bottom">
          <a class=" button button-block button-inicial" href="#/app/cadastro">
            Cadastar
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-content row">

    </div>
  </ion-content>
</ion-view>
