<ion-view view-title="Sobre">
  <ion-content class="text-center" scroll="false">
    <div>
    <img src="img\rainy7.png"></img>
    <p align="Justify"><b>O RainCife é uma aplicação elaborada pelos alunos,do Centro de Infomática de Pernambuco.
       Com o intuito de realizar o monitoramento, e previsão, de chuvas e alagamentos na região
       metropolitana do Recife. Para isso utilizamos os dados da Agência Pernambucana de Águas e Clima
       e os dados fornecidos pelo usuário, tudo isso para aumentar a confiabiliade do RainCife.
       E fazer com que nossos usuários confiem cada vez mais na gente. </b></p>
    </div>
    <br>
    <p>Para saber mais, acesse nosso: <p>
    <div >
      <a class="button button button-balanced ion-android-globe" href="http://raincife.com.br/">    Site</a>
      <a class="button button button-positive ion-social-facebook" href="http://fb.com/raincife">   Facebook</a>
      <a class="button button button-dark ion-social-github" href="https://github.com/MCRSoftwares/RainCife">    GitHub</a>
    </div>
  </ion-content>
  <ion-footer-bar>
    <b>CopyLeft (c) 2015 RainCife Team All Lefts Reserved.<b>
  </ion-footer-bar>
</ion-view>
