map {
  display: block;
  width: 100%;
  height: 97%;
}
.scroll {
  height: 100%;
}
.ouLogin{
  color: white;
  font-weight: bold;
}

.button-inicial{
  background-color: #29b6f6;
}

.icon.ion-search.placeholder-icon{
  margin -right: 1000px;
}
